/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  /* Effects */
}
/* Figma Color Variables of your File */
[data-variable-collection-mode="mode-1"] {
  /* mode-1 */
  --primary-color: #7c3aed;
  --grey-color: rgba(56, 56, 56, 0.6);
  --white-color: #ffffff;
}
